@model projektdotnet.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingId" />
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId" value="@Model.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value ="@Model.Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <div>Previously:@Model.StartingTime</div>
                <input asp-for="StartingTime" class="form-control" value="@Model.StartingTime" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingTime" class="control-label"></label>
                <div>Previously:@Model.EndingTime</div>
                <input asp-for="EndingTime" class="form-control" value="@Model.EndingTime.ToString("dd/MM/yyyy HH:mm:ss")" />
                <span asp-validation-for="EndingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Select Employees:</label>
                @foreach (var employee in ViewBag.AllEmployees)
                {
                    var isChecked = Model.Participants.Contains(employee) ? "checked" : "";
                    <div>
                        <input type="checkbox" name="selectedEmployees" value="@employee.EmployeeId" @isChecked />
                        <label>@employee.Login</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
