@model projektdotnet.Models.Ticket
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
@{
    ViewData["Title"] = "Details";
}
<div class="card-left-align m-5">
    <h1 class="text-center mb-3" style="font-size: 6em;text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">Ticket</h1>
    <div class="card-left-align width-100">
            <div class="text-white mb-1 mt-1">Category</div>
            <div class="card-text text-white">@Model.Category</div>
            <div class="text-white mb-1 mt-1">Description</div>
            <div class="card-text text-white">@Model.Description</div>
            <div class="text-white mb-1 mt-1">Employee handling</div>
        <div>
            @await Html.PartialAsync("_EmployeeDetails", Model.Receiver)
        </div>
            <div class="text-white mb-1 mt-1">Status</div>
            @switch(@Model.Status)
            {
                case projektdotnet.Models.TicketStatus.Sent:
                <div class="card-text text-primary"><strong>Sent</strong></div>
                    break;
            case projektdotnet.Models.TicketStatus.InProcess:
                <span class="card-text text-warning"><strong>In Process</strong></span>
                break;
            case projektdotnet.Models.TicketStatus.Resolved:
                <span class="card-text text-success"><strong>Resolved</strong></span>
                break;
            case projektdotnet.Models.TicketStatus.NeedMoreInformation:
                <span class="card-text text-danger"><strong>Need More Information</strong></span>
                break;
            default:
                <span class="card-text text-secondary"><strong>Unknown Status</strong></span>
                break;
            }
    </div>
    <h1 class="text-center mt-2" style="font-size: 2em;text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">Comments</h1>
    @foreach(var TicketComment in Model.Comments)
    {
        @await Html.PartialAsync("_TicketComment", TicketComment);

    }
    <button class="btn btn-outline-info btn-lg m-1" onclick="document.getElementById('commentForm').style.display='block'">Add Comment</button>

    <div id="commentForm" style="display:none;">
        <form asp-controller="TicketComment" asp-action="Create" method="post">
            <input type="hidden" name="TicketId" value="@Model.TicketId" />
            <input type="hidden" name="EmployeeId" value="@ViewBag.userId" />
                <label for="Description">Comment</label>
                <textarea class="form-control" id="Description" name="Description" required></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="document.getElementById('commentForm').style.display='none'">Cancel</button>
        </form>
    </div>
    <div class="m-2">
    <a asp-controller="Tickets" asp-action="Index" class="btn btn-outline-primary btn-lg m-1">Go back to list</a>
    <a asp-controller="Tickets" asp-action="Manage" asp-route-id="@Model.TicketId" class="btn btn-outline-success btn-lg m-1">Manage</a>
    </div>
</div>

